.range-slider {
  position: relative;
  width: 50%;

  &_vertical {
    transform: rotate(90deg);
    position: relative;
  }

  &__form {
    input[type=range] {
      position: absolute;
      -webkit-appearance: none;
      z-index: 2;
      margin-top: -5px;
      height: 20px;
      width: 100%;
      pointer-events: none;
      opacity: 0;

      &::-webkit-slider-thumb {
        pointer-events: all;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        pointer-events: all;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        cursor: pointer;
      }

      &::-ms-thumb {
        pointer-events: all;
        width: 20px;
        height: 20px;
        -webkit-appearance: none;
        cursor: pointer;
      }
    }
  }

  &__track-wrapper {
    position: relative;
    z-index: 1;
    height: 6px;
    top: 2px;
  }

  &__track {
    position: relative;
    z-index: 1;
    height: 6px;
    width: 100%;
    margin-left: -0.25%;
    border-radius: 3px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: #fff;
  }

  &__progress-bar {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin-left: -0.5%;
    margin-right: 0;
    background: linear-gradient(180deg, #cf6f7f 0%, #ea6666 100%);
    border-radius: 3px;
  }

  &__thumb {
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 22px;
    background: linear-gradient(180deg,  #cf6f7f 0%, #ea6666 100%);
    border-radius: 38%;
    border: 2px solid #fff;
    margin-top: -10px;
    margin-left: -10px;
    box-shadow: 0 0 0 0 rgba(102, 34, 34, 0.25);
    transition: box-shadow .3s ease-in-out;

    &_first {
      margin-left: -10px;
    }

    &_second {
      position: absolute;
      margin-right: -7px;
    }

    &:hover {
      box-shadow: 0 0 0 5px rgba(102, 34, 34, 0.25);
    }

    &:active {
      box-shadow: 0 0 0 5px rgba(102, 34, 34, 0.5);
    }
  }

  &__bubble {
    display: inline-block;
    margin-top: 20px;
    min-width: 10px;
    font-size: 14px;
    color: black;
    border: 1px solid #000;
    padding: 2px;
    background-color: #eac966;
    border-radius: 3px;
    text-align: center;

    &_vertical {
      transform: rotate(-90deg);
    }
    &:hover {
      box-shadow: 0 0 0 5px rgba(102, 34, 34, 0.25);
      font-size: 16px;
    }
  }

  &__tick {
    font-size: 20px;
    position: absolute;
    white-space: nowrap;
    padding-right: 1px;
    width: 15px;
    margin: 10px;
    bottom: -10px;
    transform: rotate(-90deg);
    cursor: pointer;
  }

  &__input {
    margin: 5px 3px 0;
    display: block;

    &_first {
      display: block;
    }

    &_second {
      display: block;
    }
  }

  &__warning, &__second-warning, &__third-warning, &__fourth-warning, &__fifth-warning, &__sixth-warning {
    color: #ea6666;

    &_vertical {
      transform: rotate(270deg);
      width: 50%;
      position: absolute;
      top: 4.875rem;
      left: -0.625rem;
    }
  }

  &__second-warning {
    &_vertical {
      margin-left: 3.75rem;
    }
  }

  &__third-warning {
    &_vertical {
      margin-left: 7.5rem;
    }
  }

  &__fourth-warning {
    &_vertical {
      margin-left: 11.25rem;
    }
  }

  &__fifth-warning {
    &_vertical {
      margin-left: 15rem;
    }
  }

  &__sixth-warning {
    &_vertical {
      margin-left: 18.75rem;
    }
  }
}