$w: 20em;
$h: 1em;
$unit: 10px;

* { 
  font: inherit;
  box-sizing: border-box;
}

body {
  line-height: $unit * 2;
  background: white;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Montserrat';
  font-size: 0.87rem;
  color: black;
  overflow-x: hidden;
}

div, p, form, input, a, span, button {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
  outline: none;
}

button, button:hover, button:focus, button:active {
  cursor: pointer;
}

@mixin track() {
  width: 100%; 
  height: 100%;
  background: none;
}

@mixin track-vertical() {
  width: 100%; 
  height: 100%;
  z-index: 2;
  background: none;
}

@mixin thumb() {
  border: none; 
  width: $h; 
  height: $h;
  border-radius: 0; 
  background: currentcolor;
  pointer-events: auto;
}

@mixin thumb-vertical() {
  border: none; 
  width: $h; 
  height: $h;
  border-radius: 0; 
  background: currentcolor;
  pointer-events: auto;
  z-index: 1;
}

@mixin wrap-background($bg: true) {
  @if $bg {
    background: linear-gradient(0deg, #ccc $h, transparent 0);
  } @else {
    background: #ccc;
  }
}

.wrap {
  display: grid;
  grid-template-rows: max-content $h;
  position: relative;
  margin: 1em;
  width: $w;
  @include wrap-background($bg: true);

  &_vertical {
    display: grid;
    margin: 4em;
    width: 20em;
    transform: rotate(270deg) translateX(-129px);
  }
}

.range-slider, .range-slider_second-thumb {
  &::-webkit-slider-runnable-track, 
  &::-webkit-slider-thumb, & {
    -webkit-appearance: none
  }
  
  grid-column: 1;
  grid-row: 2;
  margin: 0;
  background: none;
  color: #000;
  font: inherit;
  pointer-events: none;
  
  &::-webkit-slider-runnable-track { @include track }
  &::-moz-range-track { @include track }
  
  &::-webkit-slider-thumb { @include thumb }
  &::-moz-range-thumb { @include thumb }
}

.label {
  padding: 15px;
}

// use it for vertical display
.range-slider_vertical, .range-slider_vertical-second {
  @include wrap-background($bg: false);
  transform-origin: 140px 140px;

  &::-webkit-slider-runnable-track { @include track }
  &::-moz-range-track { @include track }

  &::-webkit-slider-runnable-track { @include track-vertical }
  &::-moz-range-thumb { @include thumb-vertical }
}

// .ticks {
//   display: flex;
//   justify-content: space-between;
//   padding: 15px 7px;
// }
// .tick {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: end;
//   width: 1px;
//   background: gray;
//   height: 10px;
//   padding-bottom: 7px;
// }