doctype html 
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content="range-slider")
    meta(name="keywords", content="plugin, plugins, range, range-slider, jquery-plugin")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    title Range-slider plugin
  body
    input(type="range" min="0" max="50" step="1").range-slider.js-range-slider#range-slider
    input(type="range" min="0" max="50" step="1" value="5").range-slider_second-thumb.js-range-slider_second-thumb
    div.label_first Current first value: 25
    div.label_second Current second value: 5
    div.label__max-def-value
    div.label__min-def-value