.wrapper-panel {
    width: 18.75rem;
}

.panel {
    border: 1px solid black;
    border-radius: 1.25rem;
    margin-bottom: .9375rem;
    padding: .4375rem;
}

.panel__max, .panel__min, .panel__step, .panel__defaultValue, .panel__valueSecond,
.panel__isMultiThumb, .panel__showRightBar, .panel__showBubble, .panel__isVertical, .panel__showTicks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}