mixin panel()
  div.wrapper-panel
    div.panel
      div.panel__max
        p.panel__max-text Max
        input(type="number" placeholder="0").input
      div.panel__min
        p.panel__min-text Min
        input(type="number" placeholder="100").input
      div.panel__step
        p.panel__step-text Step
        input(type="number" placeholder="1").input
      div.panel__defaultValue
        p.panel__defaultValue-text Default value
        input(type="number" placeholder="50").input
      div.panel__valueSecond
        p.panel__valueSecond-text Second value
        input(type="number" placeholder="70").input
      div.panel__isMultiThumb
        p.panel__isMultiThumb-text Multi Thumb
        input(type="checkbox").input
      div.panel__showBubble
        p.panel__showBubble-text Show bubble
        input(type="checkbox").input
      div.panel__isVertical
        p.panel__isVertical-text Vertical position
        input(type="checkbox").input
      div.panel__showTicks
        p.panel__showTicks-text Show ticks
        input(type="checkbox").input
      div.panel__ticksValues
        p.panel__ticksValues-text Receive ticks
        input(type="text" placeholder="[0, 10, 20, 30, 40, 50]").input
      div.panel__barColor
        p.panel__barColor-text Change progress bar color
        input(type="text" placeholder="#000000").input
      div.panel__thumbColor
        p.panel__thumbColor-text Change thumb color
        input(type="text" placeholder="#111111").input
      div.panel__bubbleColor
        p.panel__bubbleColor-text Change bubble color
        input(type="text" placeholder="#222222").input
